@{
    ViewData["Title"] = "Home Page";
}
    <div class="demo-section k-content">
        <div><h1>Manager</h1></div>

        @(Html.Kendo().Button()
                                    .Name("chartButton")
                                    .HtmlAttributes(new { type = "button", @class = "k-primary" })
                                    .Content("Chart")
                                    .Events(e => e.Click("onClick_Charts")))
        @(Html.Kendo().Button()
                                    .Name("DiagramButton")
                                    .HtmlAttributes(new { type = "button", @class = "k-primary" })
                                    .Content("Diagram View")
                                    .Events(e => e.Click("onClick_Diagram")))
        @(Html.Kendo().Button()
                                    .Name("LogoutButton")
                                    .HtmlAttributes(new { type = "button", @class = "k-primary" })
                                    .Content("Logout")
                                    .Events(e => e.Click("onClick_Logout")))
        @(Html.Kendo().Button()
                                    .Name("ApiButton")
                                    .HtmlAttributes(new { type = "button", @class = "k-primary" })
                                    .Content("Api")
                                    .Events(e => e.Click("onClick_Api")))

    <script>
            function onClick_Charts() {
            window.location = '@Url.Action("Chart", "Manager")';
            }
            function onClick_Api() {
            window.location = '@Url.Action("Api", "Manager")';
        }
        function onClick_Diagram() {
            window.location = '@Url.Action("Index", "Diagram")';
            }
        function onClick_Logout() {
            window.location = '@Url.Action("Logout", "Login")';
        }

    </script>
    </div>

