@model IEnumerable<Pmviz_Frontend.Models.Log>
@using Kendo.Mvc.UI
@{ ViewBag.Title = "All Processes";}
@using Microsoft.AspNetCore.Http;
@{
    List<string> details = Context.Session.GetString("listDetails").Split(new char[] { ',' }).ToList();
}

<h4 style="text-align:center">All Processes</h4>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}
else
{
    @if (Model.Count() == 0)
    {
        <div class="alert alert-danger" role="alert">
            There are no processes registered.
        </div>
    }
    else
    {
<div class="container k-content" style="height:auto">
    @(Html.Kendo().Grid(Model)
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(l => l.Id).Title("Id");
            columns.Bound(l => l.Description).Title("Description").Width(200);
            columns.Bound(l => l.NumberOfActivities).Title("Number of Activities");
            columns.Bound(l => l.NumberOfCases).Title("Number of Cases");
            columns.Bound(l => l.StartDate).Title("Start Date");
            columns.Bound(l => l.EndDate).Title("End Date");
            columns.Group(group => group
                .Title("Statistics")
                .Columns(info => { 
                    if (!details.Contains("activityFrequency"))
                    {
                        info.Command(command => command.Custom("Activities").Click("showDetails")).Width(110);

                    }
                    if (!details.Contains("resourcesStats"))
                    {
                        info.Command(command => command.Custom("Resources").Click("showStats")).Width(130);
                    }
            
                })
            );




        })
        .Pageable()
        .Navigatable()
        .Sortable()
        .Groupable()
        .Filterable()
        .Scrollable(s => s.Height("auto"))
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
        )
        .Resizable(resize => resize.Columns(true))
        .HtmlAttributes(new { style = "width:1000px" })

        )
    </div>

    }

}


<script type="text/javascript">

    function showDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = '@Url.Action("Activity","Log")?id=' + dataItem.Id

    }

    function showStats(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = '@Url.Action("Resource","Log")?id=' + dataItem.Id

    }

    function showActivities(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = '@Url.Action("Activities","Log")?id=' + dataItem.Id

    }

    function showResources(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = '@Url.Action("Resources","Log")?id=' + dataItem.Id

    }

</script>




