@model IEnumerable<Pmviz_Frontend.Models.Log>
@using Kendo.Mvc.UI
@{ ViewBag.Title = "Todos os Processos";}
@using Microsoft.AspNetCore.Http;
@{
    List<string> details = Context.Session.GetString("listDetails").Split(new char[] { ',' }).ToList();
}


@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}
else
{
    @if (Model.Count() == 0)
    {
        <div class="alert alert-danger" role="alert">
            Não há processos registados.
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h2>Lista de processos</h2>
                        <br />
                        <div class="table-responsive">
                            <table id="scroll-horizontal-datatable" class="table table-dark dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nome</th>
                                        <th>Número de casos</th>
                                        <th>Número de atividades</th>
                                        <th>Data Inicial</th>
                                        <th>Data Final</th>
                                        @if (!details.Contains("resourcesStats") && !details.Contains("activityFrequency"))
                                        {
                                            <th>Estatísticas</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Pmviz_Frontend.Models.Log log in Model)
                                    {
                                    <tr>
                                        <td class="id">@log.Id</td>
                                        <td>@log.Name</td>
                                        <td>@log.NumberOfCases</td>
                                        <td>@log.NumberOfActivities</td>
                                        @if (log.StartDate == null)
                                        {
                                            <td>-</td>
                                        }
                                        else
                                        {
                                            <td>@log.StartDate</td>
                                        }
                                        @if (log.EndDate == null)
                                        {
                                            <td>-</td>
                                        }
                                        else
                                        {
                                            <td>@log.EndDate</td>
                                        }
                                        @if (!details.Contains("resourcesStats") && !details.Contains("activityFrequency"))
                                        {
                                    <td>
                                        <div class="btn-group d-flex justify-content-center" role="group" aria-label="Basic example">
                                            @if (!details.Contains("activityFrequency"))
                                            {
                                                <button type="button" class="btn btn-sm btn-primary activity" onclick="goToStatistics(@log.Id, 'Activity')">Atividades</button>
                                            }
                                            @if (!details.Contains("resourcesStats"))
                                            {
                                                <button type="button" class="btn btn-sm btn-danger resource" onclick="goToStatistics(@log.Id, 'Resource')">Recursos</button>

                                            }
                                        </div>
                                    </td>
                                        }

                                    </tr>

                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}


<script type="text/javascript">

    function goToStatistics($id, x) {
        if (x == "Activity") {
            window.location = '@Url.Action("Activity","Log")?id=' + $id
        } else {
            window.location = '@Url.Action("Resource","Log")?id=' + $id
        }
    }

</script>




