@{
    var processId = ViewData["processId"];
    var type = ViewData["type"];
    IEnumerable<Pmviz_Frontend.Models.Activity> activities = ViewData["activities"] as IEnumerable<Pmviz_Frontend.Models.Activity>;
    string activityChosen = ViewData["activity"] as string;
    var moulds = ViewData["moulds"] as List<String>;
    var parts = ViewData["parts"] as List<String>;
    var meanMinutesAll = ViewData["meanMillis"];
    var totalEffort = ViewData["totalEffortMillis"];
    var allResources = ViewData["allResources"] as IEnumerable<Pmviz_Frontend.Models.ResourceStat>;
    var allResourcesEffort = ViewData["allResourcesEffort"] as IEnumerable<Pmviz_Frontend.Models.ResourceEffort>;


}
@{
    ViewData["Title"] = "Resources Statistics";
}

<h4 style="text-align:center">Resources Statistics</h4>
<div class="container" style="text-align:center">
    <h6>Choose the type of statistics and the activity to see the results:</h6>
</div>

<div class="container" style="text-align:center">
    <form method="post" action='@Url.Action("Resource","Log", new {id = processId})'>
        <input type="radio" name="type" value="mean">
        <label for="mean">Resources Mean Times</label>
        &nbsp;&nbsp;&nbsp;
        <input type="radio" name="type" value="effort">
        <label for="effort">Resources Effort</label>
        <br />
        <select name="activity" class="inputfield" required>
            @if (activities != null)
            {
                @foreach (var act in activities)
                {
                    <option value="@act.Id">@act.Id - @act.Name</option>
                }

            }
        </select>
        <br />
        <br />
        <div>
            <button class="k-button k-primary" type="submit">Submit</button>
        </div>
    </form>
</div>
<br />
@if (ViewBag.ErrorActivity != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorActivity
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}
else
{
    @if ((type == "mean" || type == "effort") &&(meanMinutesAll != null || totalEffort != null))
    {
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="k-card">
                        <div class="k-card-header">
                            <h6 class="k-card-subtitle">Information</h6>
                        </div>
                        <div class="k-card-body">
                            @if (type == "mean")
                            {
                                <h6>
                                    General mean time: @meanMinutesAll minutes
                                </h6>

                            }
                            else
                            {
                                <h6>
                                    Total Effort: @totalEffort minutes
                                </h6>
                            }

                            <h6>
                                Activity Chosen: @activityChosen
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <div class="k-card">
                        <div class="k-card-header">
                            <h6 class="k-card-subtitle">Parts</h6>
                        </div>
                        <div class="k-card-body">
                            @if (parts == null)
                            {
                                <h6>No parts were involved.</h6>
                            }
                            else
                            {
                                foreach (var p in parts)
                                {
                                    <h6>@p</h6>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <div class="k-card">
                        <div class="k-card-header">
                            <h6 class="k-card-subtitle">Moulds</h6>
                        </div>
                        <div class="k-card-body">
                            @if (moulds == null)
                            {
                                <h6>No moulds were involved.</h6>
                            }
                            else
                            {
                                foreach (var m in moulds)
                                {
                                    <h6>@m</h6>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (type == "mean")
        {
            <div class="demo-section k-content wide">
                @(Html.Kendo().Chart(allResources)
                    .Name("chart")
                    .Title("Mean time in minutes")
                    .Legend(legend => legend
                        .Position(ChartLegendPosition.Top)
                    )
                    .ChartArea(chartArea => chartArea
                        .Background("transparent")
                    )
                    .Series(series =>
                    {
                        series.Column(a => a.MeanMillis).Name("Mean in Minutes").CategoryField("Resource");
                        series.Line(a => a.GeneralMean).Name("General Mean in Minutes");
                    })
                    .CategoryAxis(axis => axis
                        .Name("series-axis")
                        .Line(line => line.Visible(true))
                    )
                    .Tooltip(tooltip => tooltip
                        .Visible(true)
                        .Format("{0}%")
                        .Template("#= series.name #: #= value # minutes")
                    )


                )
            </div>

        }
        else
        {
            <div class="demo-section k-content wide">
                @(Html.Kendo().Chart(allResourcesEffort)
                    .Name("chart")
                    .Title("Effort time in minutes")
                    .Legend(legend => legend
                        .Position(ChartLegendPosition.Top)
                    )
                    .ChartArea(chartArea => chartArea
                        .Background("transparent")
                    )
                    .Series(series =>
                    {
                        series.Column(a => a.EffortMillis).Name("Effort time Minutes").CategoryField("Resource");
                    })
                    .CategoryAxis(axis => axis
                        .Name("series-axis")
                        .Line(line => line.Visible(true))
                    )
                    .Tooltip(tooltip => tooltip
                        .Visible(true)
                        .Format("{0}%")
                        .Template("#= series.name #: #= value # minutes")
                    )


                )
            </div>
        }


    }

}

