<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PMVIZ</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
	<link href="https://kendo.cdn.telerik.com/2020.1.219/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
	<script src="https://kendo.cdn.telerik.com/2020.1.219/js/jquery.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2020.1.219/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2020.1.219/js/kendo.all.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2020.1.219/js/kendo.aspnetmvc.min.js"></script>
</head>
<body class="k-content">
    <nav style="width:100vw">
        @(Html.Kendo().ToolBar()
                            .Name("ToolBar")
                            .Items(items =>
                            {
                                items.Add().Type(CommandType.Button).Icon("home").HtmlAttributes(new { @class = "btn" });
                                items.Add().Type(CommandType.Button).Icon("logout").Text("Logout")
                                .HtmlAttributes(new { @style = "position:absolute; right:1vw" }).Url("/login/logout");
                            }).HtmlAttributes(new { @style = "width:100vw"})
        )
    </nav>
    <div class="row" id="layout">
        <div class="collumn col-md-2" id="menu-container" style="padding-right:0px">
            @(Html.Kendo().Menu()
                  .Name("menu")
                  .Items(items =>
                  {
                      items.Add().Text("All Logs").LinkHtmlAttributes(new { 
                          @id = "element" ,
                          type = "button", 
                          @class = "btn-xs btn-light label-element",
                          @style = "color:black"
                      })
                      .Url("/log");
                      items.Add().Separator(true);
                      items.Add().Text("Exemplo 2").LinkHtmlAttributes(new { 
                          @id = "element" ,
                          type = "button", 
                          @class = "btn-xs btn-light label-element",
                          @style = "color:black"
                      });
                      items.Add().Separator(true);

                      items.Add().Text("Exemplo 3").LinkHtmlAttributes(new { 
                          @id = "element" ,
                          type = "button", 
                          @class = "btn btn-light label-element",
                          @style = "color:black"
                      });  
                      items.Add().Separator(true);
                  })
                  .Orientation(MenuOrientation.Vertical)
                  .HtmlAttributes(new
                  {
                      @style = "height:100vh"
                  })
            )
        </div>
        <div class="collumn col">
            <main>
                <br />
                <div class="container">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    <environment names="Development">
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    html{
        min-height:100%; /* make sure it is at least as tall as the viewport */
    }
    body{
        height:auto; /* force the BODY element to match the height of the HTML element */
    }
    #element{
        text-align:center;  
        display:block;
    }
    #menu-container{
        height:100vh;
        background-color:#f8f9fa;
    }
    .label-element {
        width: 100%;
        display: block;
        padding-bottom: .5em;
        font-size: 17px;
        color: #444;
    }


</style>