@{
    IEnumerable<String> roles = ViewData["roles"] as IEnumerable<String>;
    IEnumerable<String> routesAllowed = ViewData["RoutesAllowed"] as IEnumerable<String>;
    IEnumerable<String> routesNotAllowed = ViewData["RoutesNotAllowed"] as IEnumerable<String>;
    string role = ViewData["Role"] as string;

}

@{
    ViewData["Title"] = "Controlo de Acesso";
}

<div class="row">
    <div class="col-md-4 col-xl-4">
        <div class="card-box">
            <form method="post">
                <h4>Escolha um role para alterar as suas permissões</h4>
                <br />
                <div class="form-group">
                    <label for="role" class="required">Role para permitir/proibir acesso</label>
                    <select id="role" name="role" class="form-control btn-sm btn-light dropdown-toggle" required onchange="handleRole(this)">
                        <option value="" disabled selected>Escolha um role</option>

                        @foreach (var r in roles)
                        {
                            if (role == r)
                            {
                                <option value="@r" selected>@r</option>

                            }
                            else
                            {
                                <option value="@r">@r</option>

                            }

                        }
                    </select>
                </div>
                <div>
                    <button class="btn-xs btn-primary" id="send" type="submit" hidden>Submit</button>
                </div>
            </form>
        </div>
    </div>
    <br />
    <div class="col">
        @if (TempData["success"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["success"]
            </div>
        }
        @if (role != null)
        {   
            <div class="card-box">
                <form action='@Url.Action("Save","Authorization")' method="post">
                    <input type="hidden" name="roleChosen" value="@role" />
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="allowed" id="authorization">Permitido</label>
                            @(Html.Kendo().ListBox()
                                .Name("allowed")
                                .Toolbar(toolbar =>
                                {
                                    toolbar.Position(ListBoxToolbarPosition.Right);
                                    toolbar.Tools(tools => tools
                                        .TransferTo()
                                        .TransferFrom()
                                        .TransferAllTo()
                                        .TransferAllFrom()
                                    );
                                })
                                .Selectable(ListBoxSelectable.Multiple)
                                .ConnectWith("notAllowed")
                                .BindTo(routesAllowed)
                                .Events(events => events
                                    .Add("onAdd")
                                )

                            )
                        </div>
                        <div class="col-sm-6">
                            <label for="notAllowed">Proíbido</label>
                            @(Html.Kendo().ListBox()
                                .Name("notAllowed")
                                .BindTo(routesNotAllowed)
                                .Selectable(ListBoxSelectable.Multiple)
                                .Events(events => events
                                    .Add("onAdd")
                                )
                            )
                        </div>
                    </div>
                    <br />
                    <div>
                        <button class="btn btn-primary btn-block" type="submit">Salvar</button>
                    </div>
                </form>
            </div>

        }
    </div>
</div>
<script>
    function onAdd(e) {

    }

    var btnSubmit = document.getElementById("send");

    function handleRole(select) {
        btnSubmit.click();
    }
</script>
<style>
    #authorization {
        width: 270px;
    }

    .demo-section label {
        margin-bottom: 5px;
        font-weight: bold;
        display: inline-block;
    }

    #example .demo-section {
        max-width: none;
        width: 515px;
    }

    #example .k-listbox {
        width: 300px;
        height: 500px;
    }

    #example .k-listbox:first-of-type {
        width: 270px;
        margin-right: 1px;
    }
    .k-listbox{
        width: 100%;
        height: 300px;
    }
</style>
