@model IEnumerable<string>

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
@addTagHelper *, Kendo.Mvc


<div class="container">
    <div class="k-card">

        <div class="k-card-header">
            <h4 class="k-card-title" id="title">Register</h4>
        </div>
        <br />
        <div class="k-class-body" id="tickets">
            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Error
                </div>
            }
            <form method="post" id="ticketsForm" kendo-validator="true">
                <ul id="fieldlist">
                    <li class="divfield">
                        <label for="username" class="required">Username</label>
                        @(Html.Kendo().TextBox()
                                  .Name("username")
                                  .HtmlAttributes(new { placeholder = "Username", required = "required", @class = "inputfield" })
                        )

                    </li>
                    <li class="divfield">
                        <label for="name" class="required">Name</label>
                        @(Html.Kendo().TextBox()
                                  .Name("Name")
                                  .HtmlAttributes(new { placeholder = "Name", required = "required", @class = "inputfield" })
                        )

                    </li>
                    <li class="divfield">
                        <label for="email" class="required">Email</label>
                        @(Html.Kendo().TextBox()
                                  .Name("email")
                                  .HtmlAttributes(new { placeholder = "Email", type = "email", required = "required", @class = "inputfield" })
                        )

                    </li>
                    <li class="divfield">
                        <label for="role" class="required">Role</label>
                        @(Html.Kendo().ComboBox()
                                    .Name("role")
                                    .Placeholder("Choose a role")
                                    .BindTo(Model)
                                    .HtmlAttributes(new { required = "required", @class = "inputfield"})
                        )
                    </li>
                    <li>

                        <label for="password" class="required">Password</label>
                        @(Html.Kendo().TextBox()
                                  .Name("password")
                                  .HtmlAttributes(new { placeholder = "Password", required = "required", type = "password", @class = "inputfield" })
                        )
                    </li>
                    <li>

                        <label for="confirmpassword" class="required">Confirm Password</label>
                        @(Html.Kendo().TextBox()
                                  .Name("confirmpassword")
                                  .HtmlAttributes(new { placeholder = "Confirm password", required = "required", type = "password", @class = "inputfield" })
                        )
                    </li>
                    <li>
                        <button class="k-button k-primary" type="submit">Register</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<style>
    #fieldlist {
        margin: 0;
        padding: 0;
    }

        #fieldlist li {
            list-style: none;
            padding-bottom: .7em;
            text-align: left;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
        }

        #fieldlist label {
            width: 100%;
            display: block;
            padding-bottom: .3em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    #title {
        width: 100%;
        display: block;
        padding-bottom: .3em;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 30px;
        color: #444;
    }

    .confirm {
        padding-top: 1em;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .k-card {
        width: 300px;
        margin: 5%;
    }

    .k-card-header {
        text-align: center;
    }

    .inputfield {
        width: 300px;
    }

    .alert-danger {
        text-align: center;
    }
</style>




