@{
    IEnumerable<Pmviz_Frontend.Models.Log> allProcesses = ViewData["processes"] as IEnumerable<Pmviz_Frontend.Models.Log>;
}
@using Kendo.Mvc.UI
@{ ViewBag.Title = "Minhas Estatísticas";}

@if (ViewBag.ErrorProcess != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorProcess
    </div>
    <div class="container" style="text-align:center">
        <a href='@Url.Action("Index","Home")' class="btn btn-danger">Voltar</a>
    </div>
}
@if (allProcesses != null)
{
    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Processos</h4>
                    <div class="table-responsive">
                        <table id="scroll-horizontal-datatable" class="table table-dark dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Descrição</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Pmviz_Frontend.Models.Log log in allProcesses)
                                {
                                    <tr>
                                        <td class="id">@log.Id</td>
                                        <td>@log.Name</td>
                                        <td>@log.Description</td>
                                        <td>
                                            <button class="btn btn-sm btn-rounded btn-primary stats">Estatísticas</button>
                                        </td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


}

<script>
    $(".stats").click(function() {
        var $row = $(this).closest("tr");    // Find the row
        var $text = $row.find(".id").text(); // Find the text

        window.location = '@Url.Action("Process","Statistics")?id=' + $text

    });

</script>