@{
    IEnumerable<Pmviz_Frontend.Models.Activity> activities = ViewData["activities"] as IEnumerable<Pmviz_Frontend.Models.Activity>;
    string processId = ViewData["processId"] as string;
    string activityChosen = ViewData["activity"] as string;
    string[] moulds = ViewData["moulds"] as string[];
    string[] parts = ViewData["parts"] as string[];
    var meanMinutesAll = ViewData["meanMillis"];
    var meanMinutesUser = ViewData["meanMillisUser"];

}
@{
    ViewData["Title"] = "My Statistics";
}

<h4 style="text-align:center">My Statistics</h4>
@if (ViewBag.ErrorActivity != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorActivity
    </div>
}

<div class="container" style="text-align:center">
    <form action='@Url.Action("Process","Statistics", new { id = processId})' method="post" id="ticketsForm" kendo-validator="true">
        <label for="role" class="required">Choose an activity to see your statistics:</label>
        <br />
        <select name="activity" class="inputfield" required>
            @if (activities != null)
            {
                @foreach (var act in activities)
                {
                    <option value="@act.Id">@act.Id - @act.Name</option>
                }

            }
        </select>
        <button class="k-button k-primary" type="submit">Submit</button>
    </form>
</div>

@if (meanMinutesUser != null || meanMinutesAll != null)
{
<div class="row">
    <div class="col">
        <div class="container">
            <div class="k-card" style="width:300px">
                <div class="k-card-header">
                    <h6 class="k-card-subtitle">Information</h6>
                </div>
                <div class="k-card-body">
                    <h6>
                        General mean time: @meanMinutesAll minutes
                    </h6>
                    <h6>
                        User mean time: @meanMinutesUser minutes
                    </h6>
                    <h6>
                        Activity Chosen: @activityChosen
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="demo-section k-content wide">
    @(Html.Kendo().Chart()
        .Name("chart")
        .Title("Mean time in minutes")
        .Legend(legend => legend
            .Position(ChartLegendPosition.Top)
        )
        .ChartArea(chartArea => chartArea
            .Background("transparent")
        )
        .Series(series =>
        {
            series.Column(new double[] { Double.Parse(meanMinutesUser.ToString()) }).Name("User Mean");
            series.Column(new double[] { Double.Parse(meanMinutesAll.ToString()) }).Name("General Mean");


        })
        .CategoryAxis(axis => axis
            .Name("series-axis")
            .Line(line => line.Visible(true))
        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Format("{0}%")
            .Template("#= series.name #: #= value # minutes")
        )


    )
</div>

}


