@{
    IEnumerable<Pmviz_Frontend.Models.Activity> activities = ViewData["activities"] as IEnumerable<Pmviz_Frontend.Models.Activity>;
    string processId = ViewData["processId"] as string;
    string activityChosen = ViewData["activity"] as string;
    var moulds = ViewData["moulds"] as List<String>;
    var parts = ViewData["parts"] as List<String>;
    var meanMinutesAll = ViewData["meanMillis"];
    var meanMinutesUser = ViewData["meanMillisUser"];

}
@{
    ViewData["Title"] = "My Statistics";
}

<div class="row">
    <div class="col-md-3 col-xl-3">
        <div class="card-box">
            <h4 class="text-dark my-1">My Statistics</h4>
            @if (activities != null)
            {
                <form action='@Url.Action("Process", "Statistics", new { id = processId })' method="post" id="ticketsForm" kendo-validator="true">
                    <label for="role" class="required">Choose an activity to see your statistics:</label>
                    <br />
                    <select name="activity" class="btn-sm btn-light dropdown-toggle" required>

                        @foreach (var act in activities)
                        {
                            if (activityChosen == act.Id.ToString())
                            {
                                <option value="@act.Id" selected>@act.Id - @act.Name</option>
                            }
                            else
                            {
                                <option value="@act.Id">@act.Id - @act.Name</option>
                            }
                        }


                    </select>
                    <br />
                    <br />
                    <div>
                        <button class="btn-xs btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            }
        </div>
    </div>
    <div class="col">
        @if (ViewBag.ErrorActivity != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.ErrorActivity
            </div>
            <div class="container" style="text-align:center">
                <a href='@Url.Action("Index","Statistics")' class="btn btn-danger">Go Back</a>
            </div>
            <br />
        }
        else
        {
            @if (meanMinutesUser != null || meanMinutesAll != null)
            {
                <div class="card-box">
                    @(Html.Kendo().Chart()
                        .Name("chart")
                        .Title("Mean time in minutes")
                        .Legend(legend => legend
                            .Position(ChartLegendPosition.Top)
                        )
                        .Series(series =>
                        {
                            series.Column(new double[] { Double.Parse(meanMinutesUser.ToString()) }).Name("User Mean");
                            series.Column(new double[] { Double.Parse(meanMinutesAll.ToString()) }).Name("General Mean");
                        })
                        .CategoryAxis(axis => axis
                            .Name("series-axis")
                            .Line(line => line.Visible(false))
                        )
                        .Tooltip(tooltip => tooltip
                            .Visible(true)
                            .Format("{0}%")
                            .Template("#= series.name #: #= value # minutes")
                        )
                        .ChartArea(x => x.Height(210))
                        .Pannable(pannable => pannable
                            .Lock(ChartAxisLock.Y)
                        )
                        .Zoomable(zoomable => zoomable
                            .Mousewheel(mousewheel => mousewheel.Lock(ChartAxisLock.Y))
                            .Selection(selection => selection.Lock(ChartAxisLock.Y))
                        )

                    )
                </div>

            }


        }
    </div>
</div>




@if (meanMinutesUser != null || meanMinutesAll != null)
{
    <div class="row">
        <div class="col">
            <div class="card text-xs-center">
                <div class="card-header">
                    Information
                </div>
                <div class="card-body">
                    <h5>
                        General mean time: @meanMinutesAll minutes
                    </h5>
                    <h5>
                        User mean time: @meanMinutesUser minutes
                    </h5>                   
                    <h5>
                        Activity Chosen: @activityChosen
                    </h5>
                </div>
            </div> <!-- end card-box-->
        </div> <!-- end col -->
        <div class="col">
            <div class="card text-xs-center">
                <div class="card-header">
                    Parts
                </div>
                <div class="card-body">
                    @if (parts == null)
                    {
                        <h5>No parts were involved.</h5>
                    }
                    else
                    {
                        foreach (var p in parts)
                        {
                            <h5>@p</h5>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-xs-center">
                <div class="card-header">
                    Moulds
                </div>
                <div class="card-body">
                    @if (moulds == null)
                    {
                        <h5>No moulds were involved.</h5>
                    }
                    else
                    {
                        foreach (var m in moulds)
                        {
                            <h5>@m</h5>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}


