@{
    IEnumerable<Pmviz_Frontend.Models.Activity> activities = ViewData["activities"] as IEnumerable<Pmviz_Frontend.Models.Activity>;
    string processId = ViewData["processId"] as string;
    string activityChosen = ViewData["activity"] as string;
    var moulds = ViewData["moulds"] as List<String>;
    var parts = ViewData["parts"] as List<String>;
    var meanMinutesAll = ViewData["meanMillis"];
    var meanMinutesUser = ViewData["meanMillisUser"];
    IEnumerable<Pmviz_Frontend.Models.Log> allProcesses = ViewData["processes"] as IEnumerable<Pmviz_Frontend.Models.Log>;
}
@{
    ViewData["Title"] = "Minhas Estatísticas";
}
    <div style="height: 88.5vh;">
        <div class="row" style="height:50%">
            <div class="col-md-3 col-xl-3">
                <div class="card-box" style="height:100%">
                    <h4 class="text-dark my-1">Minhas Estatísticas</h4>
                    <br />
                    @if (activities != null)
                    {
                        <form action='@Url.Action("Process", "Statistics", new { id = processId })' method="post" id="ticketsForm" kendo-validator="true">
                            <label for="processList" class="required">Escolha outro processo:</label>
                            <br />
                            <div class="form-group">
                                <select name="processId" id="processList" class="form-control btn-sm btn-light dropdown-toggle" required">
                                    <option value="" disabled selected>Escolha outro processo</option>

                                    @foreach (var p in allProcesses)
                                    {
                                        if (processId == p.Id.ToString())
                                        {
                                            <option value="@p.Id" selected>@p.Id - @p.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@p.Id">@p.Id - @p.Name</option>
                                        }
                                    }


                                </select>
                            </div>
                            <br />
                            <label for="selectList" class="required">Escolha uma atividade:</label>
                            <br />
                            <div class="form-group">
                                <select name="activity" id="selectList" class="form-control btn-sm btn-light dropdown-toggle" required onchange="handleAct(this)">
                                    <option value="" disabled selected>Escolha uma atividade:</option>

                                    @foreach (var act in activities)
                                    {
                                        if (activityChosen == act.Id.ToString())
                                        {
                                            <option value="@act.Id" selected>@act.Id - @act.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@act.Id">@act.Id - @act.Name</option>
                                        }
                                    }

                                </select>
                            </div>
                            <br />
                            <div>
                                <button class="btn-xs btn-primary" id="send" type="submit" hidden>Submit</button>
                            </div>
                        </form>
                    }
                </div>
            </div>
            <div class="col">
                @if (ViewBag.ErrorActivity != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.ErrorActivity
                    </div>
                    <div class="container" style="text-align:center">
                        <a href='@Url.Action("Index","Statistics")' class="btn btn-danger">Voltar</a>
                    </div>
                    <br />
                }
                else
                {
                    @if (meanMinutesUser != null || meanMinutesAll != null)
                    {
                        <div class="card-box" style="height:100%">
                            @(Html.Kendo().Chart()
                        .Name("chart")
                        .Title("Média em minutos")
                        .Legend(legend => legend
                            .Position(ChartLegendPosition.Top)
                        )
                        .Series(series =>
                        {
                            series.Column(new double[] { Double.Parse(meanMinutesUser.ToString()) }).Name("Média Utilizador");
                            series.Column(new double[] { Double.Parse(meanMinutesAll.ToString()) }).Name("Média Geral");
                        })
                        .CategoryAxis(axis => axis
                            .Name("series-axis")
                            .Line(line => line.Visible(false))
                        )
                        .Tooltip(tooltip => tooltip
                            .Visible(true)
                            .Format("{0}%")
                            .Template("#= series.name #: #= value # minutos")
                        )
                        .ChartArea(x => x.Height(370))
                        .Pannable(pannable => pannable
                            .Lock(ChartAxisLock.Y)
                        )
                        .Zoomable(zoomable => zoomable
                            .Mousewheel(mousewheel => mousewheel.Lock(ChartAxisLock.Y))
                            .Selection(selection => selection.Lock(ChartAxisLock.Y))
                        )

                    )
                        </div>

                    }


                }
            </div>
        </div>


        <br /><br />

        @if (meanMinutesUser != null || meanMinutesAll != null)
        {
            <div class="row" style="height:30%">
                <div class="col" style="height:100%">
                    <div class="card text-xs-center" style="height:100%">
                        <div class="card-body" style="overflow-y:auto">
                            <h5 class="card-title">Informação</h5>
                            <dl class="row">
                                <dt class="col-sm-6">Média Geral: </dt>
                                <dd class="col-sm-6">@String.Format("{0:N0}", meanMinutesAll) minutos</dd>
                                <dt class="col-sm-6">Média do Utilizador: </dt>
                                <dd class="col-sm-6">@String.Format("{0:N0}", meanMinutesUser) minutos</dd>
                                <dt class="col-sm-6">Atividade Escolhida: </dt>
                                <dd class="col-sm-6">@String.Format("{0:N0}", activityChosen) minutos</dd>
                                <dt class="col-sm-6">Processo Escolhido: </dt>
                                <dd class="col-sm-6">@processId</dd>
                            </dl>
                        </div>
                    </div> <!-- end card-box-->
                </div> <!-- end col -->
                <div class="col">
                    <div class="card text-xs-center" style="height:100%">
                        <div class="card-body">
                            <h5 class="card-title">Peças</h5>
                            <div style="max-height: 120px;overflow-y:auto">
                                @if (parts == null)
                                {
                                    <h5>Nenhuma peça.</h5>
                                }
                                else
                                {
                                    foreach (var p in parts)
                                    {
                                        <h5>@p</h5>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-xs-center" style="height:100%">
                        <div class="card-body">
                            <h5 class="card-title">Moldes</h5>
                            <div style="max-height: 120px;overflow-y:auto">
                                @if (moulds == null)
                                {
                                    <h5>Nenhum molde.</h5>
                                }
                                else
                                {
                                    foreach (var m in moulds)
                                    {
                                        <h5>@m</h5>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
<script>

    var selectList = document.getElementById("selectList");
    var processList = document.getElementById("processList");
    var btnSubmit = document.getElementById("send");

    var activitiesNew;

    var processId = processList.options[processList.selectedIndex].value

    function handleAct(selectBox) {
        btnSubmit.click()
    }

    $("#processList").change(function () {
        $.ajax({
            type: "POST",
            data: { processId: processId },
            url: "/Statistics/GetActivities",
            dataType: 'json',
            success: function (response) {
                if (response.success) {
                    var information = JSON.parse(response.request);
                    activitiesNew = information;
                    selectList.value = information
                }
            },
            error: function (response) {
                alert("error!");  //
            }

        });
    });

</script>


