@{
    IEnumerable<Pmviz_Frontend.Models.Activity> activities = ViewData["activities"] as IEnumerable<Pmviz_Frontend.Models.Activity>;
    string processId = ViewData["processId"] as string;
    string activityChosen = ViewData["activity"] as string;
    var moulds = ViewData["moulds"] as List<String>;
    var parts = ViewData["parts"] as List<String>;
    var meanMinutesAll = ViewData["meanMillis"];
    var meanMinutesUser = ViewData["meanMillisUser"];
    IEnumerable<Pmviz_Frontend.Models.Log> allProcesses = ViewData["processes"] as IEnumerable<Pmviz_Frontend.Models.Log>;
}
@{
    ViewData["Title"] = "My Statistics";
}

<div class="row">
    <div class="col-md-3 col-xl-3">
        <div class="card-box">
            <h4 class="text-dark my-1">My Statistics</h4>
            @if (activities != null)
            {
        <form action='@Url.Action("Process", "Statistics", new { id = processId })' method="post" id="ticketsForm" kendo-validator="true">
            <label for="processList" class="required">Choose another process:</label>
            <br />
            <select name="processId" id="processList" class="btn-sm btn-light dropdown-toggle" required">
                <option value="" disabled selected>Choose another process</option>

                @foreach (var p in allProcesses)
                {
                    if (processId == p.Id.ToString())
                    {
                        <option value="@p.Id" selected>@p.Id - @p.Name</option>
                    }
                    else
                    {
                        <option value="@p.Id">@p.Id - @p.Name</option>
                    }
                }


            </select>
            <br />
            <br />
            <label for="selectList" class="required">Choose an activity:</label>
            <br />
            <select name="activity" id="selectList" class="btn-sm btn-light dropdown-toggle" required onchange="handleAct(this)">
                <option value="" disabled selected>Choose an activity</option>

                @foreach (var act in activities)
                {
                    if (activityChosen == act.Id.ToString())
                    {
                        <option value="@act.Id" selected>@act.Id - @act.Name</option>
                    }
                    else
                    {
                        <option value="@act.Id">@act.Id - @act.Name</option>
                    }
                }

            </select>
            <br />
            <div>
                <button class="btn-xs btn-primary" id="send" type="submit" hidden>Submit</button>
            </div>
        </form>
            }
        </div>
    </div>
    <div class="col">
        @if (ViewBag.ErrorActivity != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.ErrorActivity
            </div>
            <div class="container" style="text-align:center">
                <a href='@Url.Action("Index","Statistics")' class="btn btn-danger">Go Back</a>
            </div>
            <br />
        }
        else
        {
            @if (meanMinutesUser != null || meanMinutesAll != null)
            {
                <div class="card-box">
                    @(Html.Kendo().Chart()
                        .Name("chart")
                        .Title("Mean time in minutes")
                        .Legend(legend => legend
                            .Position(ChartLegendPosition.Top)
                        )
                        .Series(series =>
                        {
                            series.Column(new double[] { Double.Parse(meanMinutesUser.ToString()) }).Name("User Mean");
                            series.Column(new double[] { Double.Parse(meanMinutesAll.ToString()) }).Name("General Mean");
                        })
                        .CategoryAxis(axis => axis
                            .Name("series-axis")
                            .Line(line => line.Visible(false))
                        )
                        .Tooltip(tooltip => tooltip
                            .Visible(true)
                            .Format("{0}%")
                            .Template("#= series.name #: #= value # minutes")
                        )
                        .ChartArea(x => x.Height(210))
                        .Pannable(pannable => pannable
                            .Lock(ChartAxisLock.Y)
                        )
                        .Zoomable(zoomable => zoomable
                            .Mousewheel(mousewheel => mousewheel.Lock(ChartAxisLock.Y))
                            .Selection(selection => selection.Lock(ChartAxisLock.Y))
                        )

                    )
                </div>

            }


        }
    </div>
</div>




@if (meanMinutesUser != null || meanMinutesAll != null)
{
    <div class="row">
        <div class="col">
            <div class="card text-xs-center">
                <div class="card-header">
                    Information
                </div>
                <div class="card-body">
                    <h5>
                        General mean time: @meanMinutesAll minutes
                    </h5>
                    <h5>
                        User mean time: @meanMinutesUser minutes
                    </h5>
                    <h5>
                        Activity Chosen: @activityChosen
                    </h5>
                    <h5>
                        Process Chosen: @processId
                    </h5>
                </div>
            </div> <!-- end card-box-->
        </div> <!-- end col -->
        <div class="col">
            <div class="card text-xs-center">
                <div class="card-header">
                    Parts
                </div>
                <div class="card-body">
                    @if (parts == null)
                    {
                        <h5>No parts were involved.</h5>
                    }
                    else
                    {
                        foreach (var p in parts)
                        {
                            <h5>@p</h5>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-xs-center">
                <div class="card-header">
                    Moulds
                </div>
                <div class="card-body">
                    @if (moulds == null)
                    {
                        <h5>No moulds were involved.</h5>
                    }
                    else
                    {
                        foreach (var m in moulds)
                        {
                            <h5>@m</h5>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}

<script>

    var selectList = document.getElementById("selectList");
    var processList = document.getElementById("processList");
    var btnSubmit = document.getElementById("send");

    var activitiesNew;

    var processId = processList.options[processList.selectedIndex].value

    function handleAct(selectBox) {
        btnSubmit.click()
    }

    $("#processList").change(function () {
        $.ajax({
            type: "POST",
            data: { processId: processId },
            url: "/Statistics/GetActivities",
            dataType: 'json',
            success: function (response) {
                if (response.success) {
                    var information = JSON.parse(response.request);
                    activitiesNew = information;
                    selectList.value = information
                } 
            },
            error: function (response) {
                alert("error!");  //
            }

        });
    });

</script>


